# place this .env in the backend #
SQL_DATABASE_CLIENT=postgresql
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_URL=postgresdb
SQL_PORT=5432
SQL_DB_NAME=mydb

# place this .env in the frontend #
VUE_APP_AXIOS_BASE_URL=http://localhost:3000/api
