.p-dialog {
  background-color: var(--surface-0) !important;
  border: 1px dashed var(--surface-700);
  box-shadow: none;
  border-radius: var(--border-radius-8);

  @media (min-width: 1024px) {
    max-width: 800px;
  }

  .p-dialog-close-button {
    background-color: var(--surface-100) !important;
    color: var(--surface-900) !important;
  }


  .p-dialog-header {
    color: var(--surface-900) !important;
    .p-dialog-title {
      font-size: 1.5rem !important;
    }
  }
}