.p-inputtext {
  background-color: var(--surface-100) !important;
  color: var(--surface-900);
  border: 1px solid var(--surface-200);
  width: 100%;
  height: 50px;
  border-radius: var(--border-radius-3);
}