.p-textarea {
  background-color: var(--surface-100);
  color: var(--surface-900);
  border: 1px solid var(--surface-200);
  width: 100%;
  min-height: 50px;
  border-radius: var(--border-radius-3);

  &.p-invalid {
    border-color: var(--color-red) !important;
  }
}