.Vue-Toastification__toast--default {
    background-color: var(--background-color);
    border: 1px white solid;
    color: white;
}
.Vue-Toastification__toast--info {
    background-color: var(--alternative-color);
    border: 1px white solid;
    color: black;
}
.Vue-Toastification__toast--success {
    background-color: rgb(171, 240, 171);
    border: 1px white solid;
    color: black;
}
.Vue-Toastification__toast--error {
    background-color: rgb(240, 156, 156);
    border: 1px white solid;
    color: black;
}
.Vue-Toastification__toast--warning {
    background-color: rgb(247, 247, 185);
    border: 1px white solid;
    color: black;
}



.Vue-Toastification__progress-bar {
    background-color: rgba(0, 0, 0, 0.507) !important;
}
.Vue-Toastification__close-button {
    color: black;
}