@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --background-color: #0E0E0E;
  --alternative-color: #cdccd3;
  --border-radius: 10px;
  --p-primary-color: white;
  --p-primary-hover-color: white;
  --p-primary-hover-background-color: black;
  --p-primary-active-color: black;
  --color-scheme: dark;

  --p-floatlabel-font-weight: 400;

  /* Check Box */
  --p-checkbox-icon-checked-color: black;
  --p-checkbox-icon-checked-hover-color: black;
  --p-checkbox-checked-background: white;
  --p-checkbox-background: black;
  --p-checkbox-disabled-background: black;

  --p-select-overlay-border-color: black;
  --p-select-overlay-background: #131313;
  --p-select-color: white;
  --p-select-option-color: white;
  --p-select-option-selected-focus-color: white;
  --p-select-placeholder-color: white;

  /* Button */
  --p-button-primary-color: black;
  --p-button-danger-color: black;
  --p-button-contrast-hover-background: white;
  --p-button-contrast-background: white;
  --p-button-contrast-hover-color: black;
  --p-button-contrast-color: black;

  /* Label */
  --p-inputtext-background: #131313;
  --p-floatlabel-color: white;
  --p-floatlabel-focus-color: white;
  --p-inputtext-focus-border-color: white;
  --p-floatlabel-active-color: white;
  --p-floatlabel-invalid-color: white;
  --p-inputtext-border-color: #3f3f46;
  --p-inputtext-color: white;

  /* Slider */
  --p-slider-handle-background: #88889a;
  --p-slider-track-background: #3f3f46;

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--p-floatlabel-font-weight);
  font-style: normal;
}

.p-checkbox-box {
  width: 40px;  /* Change width as needed */
  height: 40px; /* Change height as needed */
}
/* Adjust the size of the checkmark inside the checkbox */
.p-checkbox-box .p-checkbox-icon {
  font-size: 40px; /* Change the checkmark size */
}
.p-checkbox {
  margin-right: 8px; /* Change spacing as needed */
}


input #U {
  background-color: red;
  background: red;
}

.p-button {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

.p-slider-handle::before {
  background-color: #131313;
}
.p-select {
  --p-select-background: #131313;
  --p-select-hover-border-color: #3f3f46;
}
.p-select-option {
  background: #131313;
}
.p-select-option.p-select-option-selected {
  background: rgba(255, 255, 255, 0.1);
}

.p-inputtext {
  width: 100%;
}

.p-select {
  width: 100%;
  border: 1px solid var(--p-select-hover-border-color);
  color: var(--p-select-hover-border-color);
  height: 55px;
  padding-top: 7.5px;
}

.p-star-button-true {
  background-color: white;
  border: none;
  color: var(--background-color);
}
.p-star-button-false {
  background-color: none;
  border: 0.5px dashed white;
  color: white
}

.p-star-button-true {
  border: 1px red solid;
}



.ripple {
    background-position: center;
    transition: background 0.3s;
}
.ripple:hover {
    background: #ffffff84 radial-gradient(circle, transparent 1%, #545454 1%) center/15000%;
}
.ripple:active {
    background-color: #ffffff84;
    background-size: 100%;
    transition: background 0.5s;
}


.ripple2 {
    background-position: center;
    transition: background 1s;
  }
  .ripple2:hover {
    background: #1E1E1E radial-gradient(circle, transparent 1%, #545454a0 1%) center/15000%;
  }
  .ripple2:active {
    background-color: #1E1E1E;
    background-size: 100%;
    transition: background 0s;
  }



.ripple3 {
  background-position: center;
  transition: background 0.3s;
}
.ripple3:hover {
  background: #ffffff84 radial-gradient(circle, transparent 1%, #545454 1%) center/15000%;
}
.ripple3:active {
  background-color: #ffffff84;
  background-size: 100%;
  transition: background 0.5s;
}



.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}


.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}


.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}