@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --background-color: #0E0E0E;
  --alternative-color: #cdccd3;
  --border-radius: 10px;

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.ripple {
    background-position: center;
    transition: background 0.3s;
}
.ripple:hover {
    background: #ffffff84 radial-gradient(circle, transparent 1%, #545454 1%) center/15000%;
}
.ripple:active {
    background-color: #ffffff84;
    background-size: 100%;
    transition: background 0.5s;
}


.ripple2 {
    background-position: center;
    transition: background 1s;
  }
  .ripple2:hover {
    background: #1E1E1E radial-gradient(circle, transparent 1%, #545454a0 1%) center/15000%;
  }
  .ripple2:active {
    background-color: #1E1E1E;
    background-size: 100%;
    transition: background 0s;
  }



.ripple3 {
  background-position: center;
  transition: background 0.3s;
}
.ripple3:hover {
  background: #ffffff84 radial-gradient(circle, transparent 1%, #545454 1%) center/15000%;
}
.ripple3:active {
  background-color: #ffffff84;
  background-size: 100%;
  transition: background 0.5s;
}



.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}


.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}


.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}